{% extends 'base.html' %}

{% block content_acdp %}{% endblock %}

{% block content %}

<section class="catalog" id="catalog">
    <div class="container">
        <div class="catalog-wrap">
            <div class="tovar-split">
                <div class="catalog-ul">
                    {% for item in categories %}
                    <h3 class="cat__title">
                        {{ item.name }}
                    </h3>
                    <ul class="catalog-cat">

                        {% for category in tips %}
                            {% if category.category_id == item.pk %}
                                <li class="cat__item">
                                    <a class="cat__a" href="{% url 'category_urn' item.name category.pk %}">{{ category.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                    {% endfor %}
                </div>

                <div class="tovar-wrap">
                    <h3 class="tovar-title"> {{ urn.name }} </h3>
                    <span class="tovar-line"></span>
                    <div class="tovar-item-split">
                        <div class="tovar-desc">
                            <div class="tovar-item">
                                <div class="tovar-tables">
                                    <table class="iksweb">
                                        <thead>
                                        <tr>
                                            <th colspan="4" style="text-align: center">Наименование</b> </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Обьем</td>
                                            <td>{{ urn.volume1 }}</td>
                                            <td>{{ urn.volume2 }}</td>
                                            <td>{{ urn.volume3 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Габариты</td>
                                            <td>{{ urn.size1 }}</td>
                                            <td>{{ urn.size2 }}</td>
                                            <td>{{ urn.size3 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Вес</td>
                                            <td>{{ urn.weight1 }}</td>
                                            <td>{{ urn.weight2 }}</td>
                                            <td>{{ urn.weight3 }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="1" style="text-align: center">Розничные цены</th>
                                            <th>От 1 шт.</th>
                                            <th>От 10 шт.</th>
                                            <th>От 50 шт.</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ urn.cost1 }}</td>
                                            <td>{{ urn.cost10 }}</td>
                                            <td>{{ urn.cost50 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tovar-text">
                                <ul>
                                    <li class="tovar-elem">
                                        <p><b>Страна бренда: </b>{{ urn.country }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Высота основания: </b>{{ urn.height_base }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Материал ламелей: </b>{{ urn.material }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Тип лалмелей: </b>{{ urn.tip_lamel }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Опора: </b>{{ urn.supp }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Расстояние между ламелиями: </b>{{ urn.distance }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Максимальный вес на 1 спальное место: </b>{{ urn.max_weight }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Цвет каркаса: </b>{{ urn.color }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Гарантия: </b>{{ urn.safe }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Тип основания: </b>{{ urn.tip_base }}</P>
                                    </li>
                                    <li class="tovar-elem">
                                        <p><b>Высота ножек: </b>{{ urn.height_legs }}</P>
                                    </li>
                                    <div class="tovar-links">
                                        <li class="tovar-elem">
                                            <p>Способы оплаты смотреть <a class="tovar__a" href="">здесь</a></P>
                                        </li>
                                        <li class="tovar-elem">
                                            <p>Способы доставки смотреть <a class="tovar__a" href="">здесь</a></P>
                                        </li>
                                        <li class="tovar-elem">
                                            <p>Цена не включает стоимость доставки. Доставка рассчитывается
                                                индивидуально менеджером предприятия.</P>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="tovar-imgs">
                            <div class="main_img">
                                {% if urn.main_photo %}
                                <img class="catalog-img" src="{{ urn.main_photo.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                            </div>

                            <div class="img_list">
                                {% if urn.main_photo %}
                                <img class="catalog-img" src="{{ urn.main_photo.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color1 %}
                                <img class="catalog-img" src="{{ urn.photo_color1.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color2 %}
                                <img class="catalog-img" src="{{ urn.photo_color2.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color3 %}
                                <img class="catalog-img" src="{{ urn.photo_color3.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color4 %}
                                <img class="catalog-img" src="{{ urn.photo_color4.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color5 %}
                                <img class="catalog-img" src="{{ urn.photo_color5.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color6 %}
                                <img class="catalog-img" src="{{ urn.photo_color6.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color7 %}
                                <img class="catalog-img" src="{{ urn.photo_color7.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}
                                {% if urn.photo_color8 %}
                                <img class="catalog-img" src="{{ urn.photo_color8.url }}" alt="">
                                {% else %}
                                <img class="catalog-img"
                                     src="https://www.gidroabraziv.com/wp-content/uploads/2020/01/nophoto_1280x960_611.jpg"
                                     alt="">
                                {% endif %}

                            </div>
                            <p>Цвет фотографии искажает монитор компьютера. Уточните цвет у менеджера или ориентируйтесь
                                по таблице RAL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
